<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MGW -  {{ pageTitle }} page</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/new.css">

</head>
<body>
<div id="header">
    <h1>Contact Us</h1>
</div>

<div id="nav">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/?action=about">About</a></li>
        <li><a href="/?action=people">People</a></li>
        <li><a href="/?action=summary">Summary</a></li>
        <li><a href="/?action=contact">Contact Us</a></li>
        <li><a href="/?action=news">News</a></li>
        <li><a href="/?action=info">Info</a></li>
    </ul>
</div>

<section>
<p>Contact Us Here</p>


        <h1>Contact Us here also</h1>

        <p>
             Danny is  shipped off as a new soldier to fight the Monsters that  attacked  Lorna’s father and killed him.  Lorna finds finds justice for the pain and suffering caused.
        </p>
    </section>

<section class="two">
     facing life in the real world, outside school Lorna meets Danny.
     Lorna finds comfort in the war and finding justice for the pain and suffering caused, she begins  to question  the Monsters identity.
</section>

    <section class="two">
        <p>
             The story represents hatred for the monsters that caused the terrorist attack on people.
        </p>
        </section>

<section class="three">
    There is also a dynamic grasp of action in description of the characters in the story.
</section>

<div id="footer">
    Footer of the page
</div>

</body>

</html>