<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MGW -  {{ pageTitle }} page</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<div id="header">
    <section class = "left">
    <img src="images/leaf.png" height="65" width="65" >
        </section>

        <h1>Real Monsters Book</h1>

    </div>


<div id="nav">
<ul>
    <li><a href="/">Home</a></li>
    <li><a href="/?action=about">About</a></li>
    <li><a href="/?action=book">Book</a></li>
    <li><a href="/?action=summary">Summary</a></li>
    <li><a href="/?action=contact">Contact Us</a></li>
    <li><a href="/?action=news">News</a></li>
    <li><a href="/?action=info">Info</a></li>
</ul>
</div>

<p>This Page is covering the book Real Monsters By Liam Brown. </p>
<img src="images/mon.jpg" height="300" width="300" >





<div id="footer">
    Footer of the page
</div>

</body>
</html>


