<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MGW -  {{ pageTitle }} page</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<div id="header">
    <h1>Info</h1>
</div>

<div id="nav">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/?action=about">About</a></li>
        <li><a href="/?action=people">People</a></li>
        <li><a href="/?action=summary">Summary</a></li>
        <li><a href="/?action=contact">Contact Us</a></li>
        <li><a href="/?action=news">News</a></li>
        <li><a href="/?action=info">Info</a></li>
    </ul>
</div>

<div id = "column_container">

<section id = "fixed">

</section>

<section id ="flex">
    <p>The realistic story of war, the debut novel of author liam brown is covering themes of violence and war, A dark storytelling fiction from a  terrorist attack  in a city that killed the main characters father.</p>
</section>

<section id = "flex1">
    <img src="images/real.jpg" height="300" width="100" >
</section>

</div>

<div id="footer">
    Footer of the page
</div>

</body>
</html>