<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MGW -  {{ pageTitle }} page</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/book.css">
</head>
<body>
<div id="header">
    <h1>People</h1>
</div>

<div id="nav">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/?action=about">About</a></li>
        <li><a href="/?action=people">People</a></li>
        <li><a href="/?action=summary">Summary</a></li>
        <li><a href="/?action=contact">Contact Us</a></li>
        <li><a href="/?action=news">News</a></li>
        <li><a href="/?action=info">Info</a></li>
    </ul>
</div>

<div class="column">
    <select>
        <option value="1" selected="selected">author</option>
        <option value="2 ">characters</option>
        <option value="3">story</option>
    </select>

    <img src="images/LB.jpg" height="200" width="200" >
</div>

<div class="column">
    <p> Liam Brown wanted to like the novel he made.It was  a  modern image that war is hell, but that didn't work for him. Liam Brown will next time have more time to create characters with depth and bit more back story.</p>
</div>

<div class="column2">

</div>


<div id="footer">
    Footer of the page
</div>

</body>
</html>