<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MGW -  {{ pageTitle }} page</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="/sum.css">
</head>
<body>
<div id="header">
    <h1>Summary</h1>
</div>

<div id="nav">
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href=/?action=about">About</a></li>
        <li><a href="/?action=people">People</a></li>
        <li><a href="/?action=summary">Summary</a></li>
        <li><a href="/?action=contact">Contact Us</a></li>
        <li><a href="/?action=news">News</a></li>
        <li><a href="/?action=info">Info</a></li>
    </ul>
</div>


<! -----------------------Left Section---------------->
<div id="aside">
    <h1>Story</h1>
    <p>
        The  whole premise of Liam Brown’s Real Monsters is a very interesting book,
        As it enters a new world of humans that have been affected by ,
        War and  danger of  terrorism. A story in which tells two perspectives,  the novel delves in the world of violence and war.
         It is  trying to add in a lot of exploration of characters
    </p>

</div>
<! -----------------------Main Section---------------->
<div id="section">
    <h1>Characters</h1>
    <p>
        Lorna has been through a lot  of tragedy in her life in the story.
        Lorna’s mother completely took herself away from her daughters and Lorna’s sister left the family.
        Lorna was left alone through her life .The death of her father.
    </p>


</div>

<div id="rightSide">
    <img src="images/invite.jpg" width="150" height="150">
</div>





<div id="footer">
    Footer of the page
</div>

</body>
</html>